/*
File: child.css
Author: Jonathan Kissam, jk@webskillet.com

This file includes overwrites for the font, color and spacing properties you'll most likely want to override from the webskillet15 parent theme.  Otherwise, it is mostly an empty table of contents

Table of contents:
1. Framework
2. Typography
 2.1 Body
 2.2 Headers
 2.3 Text
 2.4 Lists
 2.5 Links- and Menus
 2.6 Images
 2.7 Tables
 2.8 Forms
3. Header
4. Navigation
5. Highlighted
6. Content
 6.1 Messages
 6.2 Admin tabs
 6.3 Nodes
 6.4 Fields
 6.5 Profiles
 6.6 Comments
 6.7 content formatting for specific pages
 6.7.1 search form & search results page
7. Sidebars
8. Pre-footers and Footer
9. Media Queries (replicate same structure)
10. IE Fixes
*/

/**
 * 1. Framework
 */

#header-wrapper, #navigation-wrapper, #main-wrapper, #footer-wrapper { padding-top: 10px; padding-bottom: 10px; }
@media screen and (max-width: 767px) {
  .tef #main-wrapper, .hwp #main-wrapper { margin-bottom: 90px; }
  .ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right { width: 100% } 
  #footer-wrapper { display: none; }
}
.container { max-width: 980px; }

/* what is this?  put it somewhere! */
.accordion-menu-wrapper .ui-accordion-content { padding-top: 0; margin-top: -15px; padding-left: 50px; padding-right: 0; }
.accordion-menu-wrapper .ui-accordion-content li { font-size: 1.2em; margin-bottom: 5px; }

/**
 * 2. Typography
 */

/* 2.1 Body */
body { color: #333; font: 93.75%/1.6em 'Open Sans', sans-serif; }

/* 2.2 Headers */
h1#site-section-title a, h1#site-section-title a:hover { color: #4E2683; }
h1#page-title, h1#mobile-title { text-transform: uppercase; color: #8DC63F; font-weight: 600; font-family: 'Open Sans'; }
h1#mobile-title { display: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 1em; font-family: 'Open Sans', sans-serif; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
.block > h2 { text-transform: uppercase; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.066em; font-weight: bold; }
h5, h6 { font-size: 0.8em; font-weight: bold; margin-bottom: 0; }

/* 2.3 Text */
section#page .region-content .content { font-size: 1.02em; }
section#page .region-content .content h2 { font-size: 1.2em; }
section#page .region-content .content h2, section#page .region-content .content h3, section#page .region-content .content h4, section#page .region-content .content h5 { color: #4E2683; }

/* 2.4 Lists */

/* 2.5 Links */
a { text-decoration: none; }
a:link, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, h3.accordion-header, .block-menu span.nolink { color: #4E2683; }
a:visited { color: #4E2683; }
.no-touch a:hover { color: #4E2683; }
a:active { color: #4E2683; }
h2 a:hover { text-shadow: .01em .02em #7D5AAA; }
a.colorbox-inline { outline: 0 none; }

/* Menu */
h3.accordion-header { text-transform: uppercase; height: 50px; margin-bottom: 15px; font-size: 1.3em; }
.ui-accordion h3.ui-accordion-header { overflow: visible; }
/*.tef .accordion-header-1:before { content:''; display: block; background-image: url(../images/tef.png); position: absolute; top: 0; height: 50px; width: 40px; background-size: 40px 50px; }*/
.tef .sidebar .ui-accordion .ui-accordion-header .ui-icon { display: none; }
.tef .sidebar .ui-accordion .accordion-header-1 .ui-icon { display: block; left: inherit; right: 0; margin-top: -5px; }

/*.tef .accordion-header-1 span.accordion-link { position: relative; top: 16px; }
.tef .accordion-header-2 span.accordion-link { position: relative; top: 16px; }
.tef .accordion-header-3 span.accordion-link { position: relative; top: 16px; }
.tef .accordion-header-4 span.accordion-link { position: relative; top: 16px; }
.hwp .accordion-header-1 span.accordion-link { position: relative; top: 16px; }
.hwp .accordion-header-2 span.accordion-link { position: relative; top: 16px; }
.hwp .accordion-header-3 span.accordion-link { position: relative; top: 16px; }
.hwp .accordion-header-4 span.accordion-link { position: relative; top: 16px; }*/

#block-accordion-menu-1 h3.accordion-header span.accordion-link, #block-accordion-menu-2 h3.accordion-header span.accordion-link { position: relative; top: 16px; }

/* TEF Info */
.tef .accordion-header-1 {
  background-image: url(../images/tef.png);
	background-repeat: no-repeat;
  background-size: 32px 40px;
}
/* Classes */
.tef .accordion-header-2 {
  background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
  background-size: 36px 36px;
}
/* Career */
.tef .accordion-header-3 {
	background-image: url(../images/guidance.png);
	background-repeat: no-repeat;
	background-size: 40px 40px;
	}
/* Tuition */
.tef .accordion-header-4 {
	background-image: url(../images/tuition.png);
	background-repeat: no-repeat;
	background-size: 32px 40px;
	}

.hwp .sidebar .ui-accordion .ui-accordion-header .ui-icon { display: none; }
/* HWP About */
.hwp .accordion-header-1 {
	background-image: url(../images/hwp.png);
	background-repeat: no-repeat;
	background-size: 40px 38px;
	}
/* Eligible */
.hwp .accordion-header-2 {
	background-image: url(../images/eligible.png);
	background-repeat: no-repeat;
	background-size: 40px 31px;
}
/* Forms */
.hwp .accordion-header-3 {
	background-image: url(../images/forms.png);
	background-repeat: no-repeat;
	background-size: 29px 40px;
}
/* FAQ */
.hwp .accordion-header-4 {
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	background-size: 32px 32px;
}

.sidebar .ui-state-default .ui-icon { background-image: url(../images/darrow.png); background-position: 0 0; background-size: 15px; }
.sidebar .ui-state-active .ui-icon { background-image: url(../images/darrow-h.png); background-position: 0 0; background-size: 15px; }
.group-benefits.field-group-accordion .ui-state-default .ui-icon { background-image: none; }
.group-benefits.field-group-accordion .ui-state-active .ui-icon { background-image: none;  }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .tef h3.accordion-header-3 { margin-bottom: 30px; }
  .tef h3.accordion-header-4 { margin-bottom: 40px; }
}
@media screen and (min-width: 768px) {
  #block-accordion-menu-1, #block-accordion-menu-2 { display: block; }
  #block-accordion-menu-3, #block-accordion-menu-4 { display: none; }
}
@media screen and (min-width: 992px) {
  .tef .accordion-header-3:before { top: 4px; }
  .tef .accordion-header-4:before { top: 3px; }
}
@media screen and (max-width: 767px) {
  #block-accordion-menu-3, #block-accordion-menu-4 { position: fixed; bottom: 0; z-index: 100; background: white; width: 100%; padding: 0; }
  #block-block-14, #block-block-10 { display: none; }
  #block-accordion-menu-4 .ui-accordion h3.ui-accordion-header, #block-accordion-menu-3 .ui-accordion h3.ui-accordion-header { width: 25%; float: left; height: 80px; }
  #block-accordion-menu-3 .ui-accordion h3.ui-accordion-header { height: 67px; }
  .hwp .sidebar .ui-accordion h3.ui-accordion-header { height: 65px; }
  #block-accordion-menu-4 .ui-accordion-icons .ui-accordion-header a, #block-accordion-menu-4 .ui-accordion-icons .ui-accordion-header .accordion-link, #block-accordion-menu-3 .ui-accordion-icons .ui-accordion-header a, #block-accordion-menu-3 .ui-accordion-icons .ui-accordion-header .accordion-link {
    display: block;
    padding: 0;
    position: absolute;
    bottom: 0;
    font-size: .5em;
    text-align: center;
    width: 100%;
    padding-top: 70px;
	}
  .sidebar .ui-accordion-content li { font-size: .8em; }
  #block-accordion-menu-3 .content, #block-accordion-menu-4 .content { position: relative; }
  #block-accordion-menu-4 div.ui-accordion-content-active, #block-accordion-menu-3 div.ui-accordion-content-active { position: absolute; width: 100%; background-color: #E6D8F3; margin-top: -88px; line-height: 1.3em; padding-top: 10px; }
  .hwp #block-accordion-menu-3 div.ui-accordion-content-active { margin-top: -93px; }
  aside#sidebar-first { padding: 0; }
  .block-accordion-menu .ui-accordion .ui-accordion-content { padding-bottom: 0; }
  #block-accordion-menu-1, #block-accordion-menu-2 { display: none; }
  #block-accordion-menu-3, #block-accordion-menu-4 { display: block; margin-bottom: 0; }
  .tef .accordion-header-1 { background-position: center 2px; }
  .tef .accordion-header-2 { background-position: center 8px; }
  .tef .accordion-header-3 { background-position: center 6px; }
  .tef .accordion-header-4 { background-position: center 5px; }
  .hwp .accordion-header-1 { background-position: center 1px; }
  .hwp .accordion-header-2 { background-position: center 7px; }
  .hwp .accordion-header-3 { background-position: center 1px; }
  .hwp .accordion-header-4 { background-position: center 8px; }
  #block-views-classes-block-1 { padding-bottom: 120px; }

}
/* End Menus */

/* 2.6 Images */

/* 2.7 Tables */

/* 2.8 Forms */
.form-item { margin: 15px 0; }
.form-item .description, .filter-guidelines { color: #999; }
input { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
textarea { border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; }
input, select, textarea { border: 1px solid #ccc; color: #333; font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; box-shadow: 0 1px 1px #eee inset; -moz-box-shadow: 0 1px 1px #eee inset; -webkit-box-shadow: 0 1px 1px #eee inset; }
input:focus, select:focus, textarea:focus { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-color: #333; }
fieldset { border-color: #ccc; }
legend { font: 1.333em Arial,Helvetica,'Helvetica Neue',sans-serif; color: #333; border: 1px solid #ccc; background: #fff; }
.form-type-checkbox label, .form-type-radio label { color: #999; }
input.form-checkbox:checked + label, input.form-radio:checked + label { color: #333; }
input[type="submit"], button, a.button {
  background: #4E2683;
  color: #fff;
  text-shadow: none;
  border: none;
}
.no-touch input[type="submit"]:hover, .no-touch button:hover, .no-touch a.button:hover {
  background: #3A1C60;
  color: #fff;
}
div.error, .error { color: #cc0000; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }

html.js fieldset.collapsible > legend .fieldset-legend { background-image: url(../images/sdarrow-h.png); text-indent: 7px; }
html.js fieldset.collapsed > legend .fieldset-legend { background-image: url(../images/srarrow.png); text-indent: 7px; }

/**
 * 3. Header
 */
.not-front #header { padding: 0; border-top: solid 8px rgb(78, 38, 131); border-bottom: solid 8px rgb(141, 198, 63); color: rgb(78, 38, 131); margin-top: 30px; height: 135px; }
#header h1 { float: left; text-transform: uppercase; font-family: 'open sans'; font-weight: bold; margin-top: 55px; }
#header img { float: right; }
.hwp #header img { width: 111px; margin-top: 5px; }
.nontefhwp #header .content a:first-child > img { float: none; width: 111px; position: absolute; top: 5px; }
.nontefhwp #header h1 { text-align: center; float: none; margin: 40px auto 0; max-width: 400px; }
.nontefhwp #header a:nth-child(3) > img { float: none; position: absolute; right: 0; top: 4px; }
#block-block-11.contextual-links-region { position: inherit; }

@media screen and (max-width: 767px) {
  .not-front #header { height: auto; margin-top: 5px; }
  #header h1 { text-indent: -999em; width: 0; height: 0; }
  .hwp #header img, .tef #header img { float: left; width: 80px; margin-bottom: 6px; }
  /*h1#page-title { position: absolute; top: -120px; padding-left: 100px; }*/
  h1#page-title { display: none; }
  h1#mobile-title { display: block; text-indent: 0; font-size: 1.1em; margin: 10px 0 0 8px; min-width: 200px; }
}
/**
 * 4. Navigation
 */

#navigation li ul.main-menu li { line-height: 40px; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content, .ui-state-active { border: none; background: white; }
/*

/**
 * 5. Highlighted
 */

/**
 * 6. Content
 */

/* 6.1 Messages */

/* 6.2 Admin tabs */

/* 6.3 Nodes */

/* social media links */

/* 6.4 Fields */

/* 6.5 Profiles */

/* 6.6 Comments */

/* 6.7 content formatting for specific pages */

/* 6.7.1 search form & search results page */


/**
 * 7. Sidebars
 */
@media screen and (min-width: 768px) {
  .sidebar.col-sm-4 { padding-left: 0; }
}
.sidebar .block { margin-bottom: 2em; }
.contact-button .content { background: #4E2683; padding: 10px; }
.contact-button p { margin-bottom: 0; }
.contact-button .content a { background: url(../images/contact.png); background-repeat: no-repeat; background-size: 30px; text-indent: 40px; display: block; outline: 0 none; text-transform: uppercase; font-size: 1.3em; }
.contact-button .content a, .contact-button .content a:hover { color: white; }

/**
 * 8. Pre-footers, utility and footer
 */

/* 8.1 Prefooter 1 */

/* 8.2 Prefooter 2 */

/* 8.3 Utility */

/* 8.4 Footer */
#footer { border-top: solid 5px #4E2683; margin-top: 30px; padding: 20px; }
#footer a, #footer a:hover { color: #8DC63F; }

/**
 * 9. Media Queries
 */

/* 9.1 Larger than a Samsung galaxy phone in portrait mode */
@media screen and (min-width: 361px) {

}

/* 9.2 Larger than an iPhone in landscape mode */
@media screen and (min-width: 481px) {

}

/* 9.3 iPad in portrait mode or larger */
@media screen and (min-width: 768px) {

	/* 4. Navigation */
	/* if you want to display mobile menu on tablets, remove all the below from child.css,
	   copy entire style.css from parent theme to child theme,
	   add style.css in child theme .info file,
	   and move the navigation section from the tablet query to the desktop query. */
	#navigation-wrapper, #navigation { height: 40px; }
	#navigation ul { height: 40px; line-height: 40px; }
	#navigation ul.main-menu li { margin: 5px 0; padding: 0; height: 30px; line-height: 30px; }
	#navigation ul.main-menu li a { padding: 0 1em; }
	#navigation ul.main-menu li.first a { padding-left: 0; }
	#navigation ul.main-menu li.first { border-left: 0; }

	/* Handles drop-down menus
	top-margin = bottom-margin of parent li; top = height of parent li - top-margin */
	#navigation li ul.main-menu { top: 25px; width: 200px; margin: 5px 0 0; padding: 0.5em; background: #fff; }
	#navigation li ul.main-menu li a, #navigation li ul.main-menu li.first a { padding: 5px 0.5em; }

}

/* 9.4 full screen */
@media screen and (min-width: 992px) {

}

/* 9.5 wide screen */
@media screen and (min-width: 1200px) {

}



/**
 * 10. IE fixes
 */


/**
 * 11. Pages
 */

/* Front Page, Home */
.front .view-stories .row { border-top: solid 7px rgb(78, 38, 131); border-bottom: solid 7px #8DC63F; }
.front .col-sm-8 { padding: 0; margin-bottom: -7px; }
.front .col-sm-8 .field { margin: 0; }
.front .view-stories .field-name-body p:before, .front .view-stories .field-name-body p:after { font-size: 106px; position: absolute; color: #E4DEEC; z-index: -10; font-family: georgia, serif; }
.front .view-stories .field-name-body p:before { content: open-quote; top: 45px; left: 0px; }
.front .view-stories .field-name-body p:after { content: close-quote; bottom: 15px; right: 30px; }
.front .view-stories .field-name-body p { font-family: 'Noto Sans', sans-serif; font-weight: 400; font-style: italic; }
.front .view-stories .field-name-title { margin: 0; text-align: right; }
.front .ds-2col > .group-left { width: 624px; }
.front .ds-2col > .group-right { width: 556px; } 
.front .field-name-title a, .front .field-name-title span { color: #8DC63F; }
@media screen and (min-width: 768px) {
.front .view-stories .field-name-body p { max-height: 186px; overflow: hidden; padding-top: 20px; }
.front .field-name-title { line-height: 1.1em; font-size: 1.1em; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
.front .col-sm-4 { padding-right: 0; }
}
@media screen and (min-width: 992px) {
.front .view-stories .field-name-body p { max-height: 279px; font-size: 1.3em; padding: 20px; }
.front .field-name-title { font-size: 1.2em; line-height: 1.3em; }
}

/* Homepage HWP and TEF sections */
#prefooter1 .block { padding: 0; }
#prefooter1 img { margin: 20px; }
#prefooter1 p { padding: 20px; height: 200px; margin: 0; font-size: 1.15em; line-height: 1.3em; }
#prefooter1 .content ul { padding: 5px; }
#prefooter1 .content ul li { display: inline; list-style-type: none; text-transform: uppercase; font-size: 1.2em; }
#prefooter1 .content ul li { margin-left: 58px; }
#prefooter1 .block .content ul li a { outline: 0; }
#prefooter1 .block .content ul li:first-child a { background: url(../images/learn.png) no-repeat; }
#prefooter1 .block .content ul li:nth-child(2) a { background: url(../images/contact.png) no-repeat; }
#prefooter1 ul.buttons a { color: white; background-size: 30px !important; display: inline-block; text-indent: 40px; }

#block-block-1 { background-color: #E4DEEC; }
#block-block-1 .content ul { margin: 0; clear: both; background-color: #4E2683; }
#block-block-2 { background-color: #E1F0CD; }
#block-block-2 .content ul { margin: 0; clear: both; background-color: #8DC63F; }
@media screen and (max-width: 767px) {
  #prefooter1 p { height: auto; }
  #block-block-1 img { width: 100px; margin: 10px; }
  #block-block-2 img { width: 105px; margin: 20px 10px 10px 10px; }
  #prefooter1 .content ul li { margin-left: 20px; }
  .front #prefooter1 .block { margin-bottom: 20px; }
  #prefooter1-wrapper {
    border-bottom: solid 7px #4E2683;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 340px) {
  #prefooter1 .content ul li { margin-left: 10px; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #prefooter1 p { height: 220px; }
  #block-block-1 img { width: 120px; margin-top: 40px; }
  #block-block-1 p { padding-left: 160px; }
  #block-block-2 img { width: 155px; margin: 10px 20px; }
  #prefooter1 .content ul li { margin-left: 25px; }
}

/* End homepage HWP and TEF sections */

#utility { display: none; }

/**
 * Colorbox Menu and Form Popups
 */
#cboxContent { background: white; }
#colorbox section { padding: 10px; }
#colorbox section h2 { color: #8DC63F; font-size: 2em; }
#cboxClose.cbox-close-plain { background: white; color: #424242; font-size: 30px; top: 8px; right: 8px; opactiy: 1 !important; }
#colorbox section#block-menu-menu-tef, #colorbox section#block-menu-menu-hwp { padding: 30px 10px 10px 40px; }
#colorbox .block-menu .content { font-size: 1.4em; line-height: 1.6em; }
#colorbox .block-menu .content > ul > li { padding-left: 30px; }
#colorbox .block-menu ul.menu li { list-style-image: url(../images/rarrow.png); list-style-position: inside; }
#colorbox .block-menu ul.menu li a { display: inline-block; position: relative; top: -2px; }
#colorbox section#block-menu-menu-tef li.first.expanded { list-style-image: none; }
#colorbox section#block-menu-menu-tef span.nolink { display: none; }
#colorbox section#block-menu-menu-tef ul li ul { margin-left: 0; }
#colorbox section#block-menu-menu-hwp ul li ul li { list-style-image: none; }
/* End colorbox stuff */


/* Workplace Benefits Pages workplace nodes */
.field-group-format-wrapper.field-group-accordion-item.ui-accordion-content { height: inherit !important; }
.field-name-field-has-prescriptions, .field-name-field-has-disability, .field-name-field-has-medical, .field-name-field-has-dental, .field-name-field-has-vision, .field-name-field-has-life-add { display: none; }
.group-benefits h3.ui-accordion-header { font-size: 1.2em; }
.group-benefits h3.ui-accordion-header.ui-state-default { background: url(../images/mrarrow.png) no-repeat 17px 15px; }
.group-benefits h3.ui-accordion-header.ui-state-active { background: url(../images/mdarrow-h.png) no-repeat 17px 15px; }
.group-benefits.ui-accordion .ui-accordion-content { font-size: .85em; }

/* HWP Eligibility / Workplaces List Page */
#page-hwp-eligibility article.node { margin: 0; }

/* TEF Classes, class node pages */
.view-classes .ui-accordion .ui-accordion-header a { font-size: 1.1em; }
.view-classes .ui-accordion .ui-accordion-content { padding: 0 1.5em; font-size: .9em; }
.view-classes span.course-runs-label, .view-classes span.apply-by-label { font-weight: bold; color: #8DC63F; }
.view-classes .ui-accordion-icons .ui-accordion-header.ui-state-default a { background: url(../images/srarrow.png) no-repeat 0 22px; }
.view-classes .ui-accordion-icons .ui-accordion-header.ui-state-active a { background: url(../images/sdarrow-h.png) no-repeat 0 22px; }
.view-classes .ui-accordion p { margin-bottom: .5em; }
.view-classes .ui-accordion .views-row { border-top: solid 1px lightgrey; margin-top: 10px; padding-top: 10px; }
.view-classes .ui-accordion .views-row-1 { border-top: none; margin-top: 0; padding-top: 0; }
@media screen and (min-width: 768px) {
  .view-classes .ui-accordion-icons .ui-accordion-header a { padding: 1em 1em .5em 1em; }
}
/* End TEF Classes */


/* TEF general interest inquiry form */
#page-eform-submit-tef-general-interest .messages.error { display: none; }
#edit-field-date-of-hire label, #edit-field-job-status label { float: left; margin-right: 10px; }
#edit-field-date-of-hire .date-no-float, #edit-field-job-status select { float: left; clear: none; width: 180px; }
#edit-field-date-of-hire .date-no-float .form-item label { display: none; }
#edit-field-date-of-hire .container-inline-date .date-padding { padding: 0; }
